@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*! _base.scss */
/* line 3, ../sass/_base.scss */
html {
  font-size: 10px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 10, ../sass/_base.scss */
body {
  color: #5b6172;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/_base.scss */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 28, ../sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 32, ../sass/_base.scss */
h1 {
  font-size: 3rem;
}

/* line 36, ../sass/_base.scss */
h2 {
  font-size: 2.6rem;
}

/* line 40, ../sass/_base.scss */
h3 {
  font-size: 2.1rem;
}

/* line 44, ../sass/_base.scss */
h4 {
  font-size: 1.7rem;
}

/* line 48, ../sass/_base.scss */
p {
  line-height: 22px;
}

/* line 52, ../sass/_base.scss */
a {
  color: #565659;
  text-decoration: none;
}
/* line 56, ../sass/_base.scss */
a:hover, a:focus {
  color: #5fc0c3;
  text-decoration: none;
}

/* line 62, ../sass/_base.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 68, ../sass/_base.scss */
b,
strong {
  font-weight: bolder;
}

/* line 73, ../sass/_base.scss */
small {
  font-size: 80%;
}

/* line 77, ../sass/_base.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/*! _layout.scss */
/* line 7, ../sass/_layout.scss */
.grid-container {
  margin: 0 auto;
  max-width: 1171px;
  width: 100%;
  padding: 0 15.5px;
}

/* line 16, ../sass/_layout.scss */
.grid-container:after,
.row:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

/* line 24, ../sass/_layout.scss */
.row {
  margin: 0 -15.5px;
}

/* line 29, ../sass/_layout.scss */
.col-1 {
  width: 8.33333%;
}

/* line 29, ../sass/_layout.scss */
.col-2 {
  width: 16.66667%;
}

/* line 29, ../sass/_layout.scss */
.col-3 {
  width: 25%;
}

/* line 29, ../sass/_layout.scss */
.col-4 {
  width: 33.33333%;
}

/* line 29, ../sass/_layout.scss */
.col-5 {
  width: 41.66667%;
}

/* line 29, ../sass/_layout.scss */
.col-6 {
  width: 50%;
}

/* line 29, ../sass/_layout.scss */
.col-7 {
  width: 58.33333%;
}

/* line 29, ../sass/_layout.scss */
.col-8 {
  width: 66.66667%;
}

/* line 29, ../sass/_layout.scss */
.col-9 {
  width: 75%;
}

/* line 29, ../sass/_layout.scss */
.col-10 {
  width: 83.33333%;
}

/* line 29, ../sass/_layout.scss */
.col-11 {
  width: 91.66667%;
}

/* line 29, ../sass/_layout.scss */
.col-12 {
  width: 100%;
}

/* line 34, ../sass/_layout.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 15.5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* line 42, ../sass/_layout.scss */
  [class*="col-"] {
    width: 100%;
  }
}
/* line 47, ../sass/_layout.scss */
#header {
  padding: 20px 0;
  display: table;
  width: 100%;
}

/* line 53, ../sass/_layout.scss */
#navigation {
  display: inline-block;
  vertical-align: middle;
}

/* line 58, ../sass/_layout.scss */
.region-header {
  display: inline-block;
  margin-left: 30px;
}

/* line 63, ../sass/_layout.scss */
#footer {
  background: #444850;
  color: #979eb1;
  padding: 5px 0;
  text-align: center;
}

/* line 1, ../sass/_modules.scss */
.banner {
  background-size: cover;
  padding: 100px 0 120px;
  text-align: center;
  position: relative;
  color: #fff;
}
/* line 8, ../sass/_modules.scss */
.banner--home {
  background-image: url(../../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 14, ../sass/_modules.scss */
.banner > * {
  z-index: 2;
  position: relative;
}
/* line 19, ../sass/_modules.scss */
.banner:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 31, ../sass/_modules.scss */
.banner p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 22px;
}
/* line 37, ../sass/_modules.scss */
.banner p.text-lg {
  line-height: 35px;
}
/* line 42, ../sass/_modules.scss */
.banner__title {
  text-transform: uppercase;
  font-size: 55px;
  margin: 20px 0;
}

/* line 49, ../sass/_modules.scss */
.feature-box {
  background: #fff;
  border-radius: 4px;
  float: left;
  width: 100%;
  padding: 0px 20px 30px;
  margin-top: 60px;
}
/* line 57, ../sass/_modules.scss */
.feature-box__icon {
  border: #fff 10px solid;
  width: 90px;
  height: 90px;
  margin: -45px auto 0;
  background-color: #57c1d5;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: content-box;
}
/* line 68, ../sass/_modules.scss */
.feature-box__icon.bulb {
  background-image: url("../../images/icon-bulb.png");
}
/* line 72, ../sass/_modules.scss */
.feature-box__icon.users {
  background-image: url("../../images/icon-users.png");
}
/* line 76, ../sass/_modules.scss */
.feature-box__icon.thumb {
  background-image: url("../../images/icon-thumb-o-up.png");
}
/* line 81, ../sass/_modules.scss */
.feature-box__title {
  color: #5dc0c9;
  font-size: 17px;
  margin: 5px 0 15px;
}

/* line 88, ../sass/_modules.scss */
.members-home {
  padding-bottom: 25px;
}
/* line 91, ../sass/_modules.scss */
.members-home .block-title {
  border-top: #dedfe3 1px solid;
  padding-top: 45px;
  margin-bottom: 20px;
}
/* line 97, ../sass/_modules.scss */
.members-home .owl-item > div {
  text-align: center;
  display: table;
  width: 100%;
}
/* line 103, ../sass/_modules.scss */
.members-home__image {
  height: 110px;
  display: table-cell;
  vertical-align: middle;
}

/* line 111, ../sass/_modules.scss */
.blog-home .owl-item {
  padding: 0 15.5px;
}
/* line 115, ../sass/_modules.scss */
.blog-home__body {
  border-top: #f2f3f6 1px solid;
  border-bottom: #f2f3f6 1px solid;
  margin: 10px 0 15px;
  padding: 5px 0 10px;
}
/* line 122, ../sass/_modules.scss */
.blog-home__title {
  font-weight: bold;
}
/* line 125, ../sass/_modules.scss */
.blog-home__title a {
  color: #61c0bd;
}
/* line 132, ../sass/_modules.scss */
.blog-home .owl-controls .owl-buttons .owl-prev,
.blog-home .owl-controls .owl-buttons .owl-next {
  margin: 0;
  width: 17px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 142, ../sass/_modules.scss */
.blog-home .owl-controls .owl-buttons .owl-prev {
  background: url(../../images/lr-arrows.png) no-repeat top left;
  left: -20px;
}
/* line 147, ../sass/_modules.scss */
.blog-home .owl-controls .owl-buttons .owl-next {
  background: url(../../images/lr-arrows.png) no-repeat bottom left;
  right: -20px;
}
/* line 153, ../sass/_modules.scss */
.blog-home .owl-controls.clickable .owl-buttons .disabled,
.blog-home .owl-controls.clickable .owl-buttons .disabled:hover {
  opacity: 0.2;
  cursor: default;
}

/************** COMMENT FORM ****************/
/* line 162, ../sass/_modules.scss */
.comment-wrapper h2.title {
  color: #5fc0c3;
}

/* line 166, ../sass/_modules.scss */
.comment-form {
  border: solid 2px #eeeeee;
  padding: 30px;
}
/* line 170, ../sass/_modules.scss */
.comment-form input.form-submit {
  margin-right: 10px;
}

/* line 175, ../sass/_modules.scss */
.filter-wrapper {
  border: solid 3px #eeeeee;
}

/* line 179, ../sass/_modules.scss */
.comment {
  position: relative;
}
/* line 182, ../sass/_modules.scss */
.comment h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}
/* line 187, ../sass/_modules.scss */
.comment .new {
  color: #5fc0c3;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 195, ../sass/_modules.scss */
.comment, .indented {
  border: solid 1px #eeeeee;
  padding: 15px 15px 15px 15px;
}

/* line 200, ../sass/_modules.scss */
.submitted {
  border-bottom: solid 1px #eeeeee;
  border-top: solid 1px #eeeeee;
  font-size: 12px;
  padding-bottom: 7px;
  padding-top: 7px;
}

/* line 208, ../sass/_modules.scss */
.indented {
  margin-left: 50px;
  margin-top: 15px;
  position: relative;
}
/* line 213, ../sass/_modules.scss */
.indented .indented {
  margin-left: 25px;
}
/* line 217, ../sass/_modules.scss */
.indented .comment {
  border: none;
  padding: 0;
}
/* line 222, ../sass/_modules.scss */
.indented:before {
  content: '';
  background: url(../../images/forward.png) no-repeat 0 0 transparent;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: -33px;
  top: 20px;
}

/* line 2, ../sass/_state.scss */
.btn:hover, .btn:focus {
  background-color: #565659;
  color: #ffffff;
}
/* line 7, ../sass/_state.scss */
.btn.outline {
  background: none;
  color: #5fc0c3;
  border: #5fc0c3 1px solid;
}
/* line 13, ../sass/_state.scss */
.btn.wide {
  min-width: 208px;
  padding: 0 10px;
  text-align: center;
}

/**** Utility classes ****/
/* Ex.: 'mt20' uses 'margin-top: 20', 'mb20' uses 'margin-bottom: 20', 'pv20' uses 'padding-top & padding-bottom 20' */
/* line 7, ../sass/_theme.scss */
.mt0 {
  margin-top: 0px;
}

/* line 11, ../sass/_theme.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 15, ../sass/_theme.scss */
.pv0 {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 7, ../sass/_theme.scss */
.mt5 {
  margin-top: 5px;
}

/* line 11, ../sass/_theme.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 15, ../sass/_theme.scss */
.pv5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 7, ../sass/_theme.scss */
.mt10 {
  margin-top: 10px;
}

/* line 11, ../sass/_theme.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 15, ../sass/_theme.scss */
.pv10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 7, ../sass/_theme.scss */
.mt15 {
  margin-top: 15px;
}

/* line 11, ../sass/_theme.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 15, ../sass/_theme.scss */
.pv15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

/* line 7, ../sass/_theme.scss */
.mt20 {
  margin-top: 20px;
}

/* line 11, ../sass/_theme.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 15, ../sass/_theme.scss */
.pv20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 7, ../sass/_theme.scss */
.mt25 {
  margin-top: 25px;
}

/* line 11, ../sass/_theme.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 15, ../sass/_theme.scss */
.pv25 {
  padding-bottom: 25px;
  padding-top: 25px;
}

/* line 7, ../sass/_theme.scss */
.mt30 {
  margin-top: 30px;
}

/* line 11, ../sass/_theme.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 15, ../sass/_theme.scss */
.pv30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

/* line 7, ../sass/_theme.scss */
.mt35 {
  margin-top: 35px;
}

/* line 11, ../sass/_theme.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 15, ../sass/_theme.scss */
.pv35 {
  padding-bottom: 35px;
  padding-top: 35px;
}

/* line 7, ../sass/_theme.scss */
.mt40 {
  margin-top: 40px;
}

/* line 11, ../sass/_theme.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 15, ../sass/_theme.scss */
.pv40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

/* line 7, ../sass/_theme.scss */
.mt45 {
  margin-top: 45px;
}

/* line 11, ../sass/_theme.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 15, ../sass/_theme.scss */
.pv45 {
  padding-bottom: 45px;
  padding-top: 45px;
}

/* line 7, ../sass/_theme.scss */
.mt50 {
  margin-top: 50px;
}

/* line 11, ../sass/_theme.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 15, ../sass/_theme.scss */
.pv50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* line 23, ../sass/_theme.scss */
.text-center {
  text-align: center;
}

/* line 27, ../sass/_theme.scss */
.text-right {
  text-align: right;
}

/* line 31, ../sass/_theme.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 35, ../sass/_theme.scss */
.text-lg {
  font-size: 17px;
}

/* line 39, ../sass/_theme.scss */
.text-color {
  color: #5fc0c3;
}

/* line 43, ../sass/_theme.scss */
.text-dark {
  color: #575656;
}

/* line 47, ../sass/_theme.scss */
.text-bold {
  font-weight: bold;
}

/* line 51, ../sass/_theme.scss */
.bg-gray {
  background-color: #f1f2f5;
}

/* line 55, ../sass/_theme.scss */
.btn {
  background: #5fc0c3;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0 20px;
  display: inline-block;
}

/* line 65, ../sass/_theme.scss */
.branding {
  float: left;
}
/* line 68, ../sass/_theme.scss */
.branding > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 73, ../sass/_theme.scss */
.branding a {
  color: #5b5b5e;
}

/* line 78, ../sass/_theme.scss */
a#logo {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

/* line 84, ../sass/_theme.scss */
#site-name {
  display: inline-block;
  font-size: 20px;
}

/* line 89, ../sass/_theme.scss */
#site-slogan {
  display: inline-block;
}

/* line 94, ../sass/_theme.scss */
.header__right {
  text-align: right;
}

/* line 100, ../sass/_theme.scss */
#navigation ul.links {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}
/* line 106, ../sass/_theme.scss */
#navigation ul.links + ul.links {
  margin-left: 30px;
}
/* line 110, ../sass/_theme.scss */
#navigation ul.links li {
  list-style: none;
  float: left;
  margin: 0 15px;
}
/* line 115, ../sass/_theme.scss */
#navigation ul.links li.first {
  margin-left: 0;
}
/* line 119, ../sass/_theme.scss */
#navigation ul.links li.last {
  margin-right: 0;
}
/* line 124, ../sass/_theme.scss */
#navigation ul.links a {
  color: #575656;
  height: 40px;
  display: inline-block;
  line-height: 40px;
}

/* line 134, ../sass/_theme.scss */
#footer .block {
  padding: 20px 0;
}
/* line 137, ../sass/_theme.scss */
#footer .block + .block {
  border-top: #4e525b 2px solid;
}
/* line 142, ../sass/_theme.scss */
#footer a {
  color: #5dc0c9;
}

/* line 147, ../sass/_theme.scss */
.footer-social-icons {
  font-size: 18px;
}
/* line 150, ../sass/_theme.scss */
.footer-social-icons a {
  margin: 0 8px;
}

/* line 155, ../sass/_theme.scss */
#page-title {
  color: #5fc0c3;
  margin: 0 0 25px 0;
}

/* line 160, ../sass/_theme.scss */
.not-front #main {
  padding: 25px 0 50px;
}

/* line 164, ../sass/_theme.scss */
.node-blog.node-teaser {
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 15px;
}

/* line 169, ../sass/_theme.scss */
.node-blog.node-teaser:last-child {
  border: none;
}

/* line 173, ../sass/_theme.scss */
ul.primary, ul.links.inline {
  border: none;
  margin: 20px 0 20px 0;
  padding: 0;
  white-space: normal;
}

/* line 180, ../sass/_theme.scss */
ul.links.inline, ul.action-links {
  display: block;
  margin: 0;
  padding: 15px 0;
}

/* line 187, ../sass/_theme.scss */
ul.primary li, ul.links.inline li, ul.action-links li {
  display: inline-block;
  padding: 0;
}
/* line 191, ../sass/_theme.scss */
ul.primary li a, ul.links.inline li a, ul.action-links li a {
  background-color: transparent;
  border: solid 1px #5fc0c3;
  color: #5fc0c3;
  display: inline-block;
  font-size: 13px;
  height: auto;
  margin-right: 0.5em;
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 203, ../sass/_theme.scss */
ul.primary li a:hover, ul.primary li a:focus, ul.links.inline li a:hover, ul.links.inline li a:focus, ul.action-links li a:hover, ul.action-links li a:focus {
  background-color: #5fc0c3;
  border: solid 1px #5fc0c3;
  color: #ffffff;
}

/* line 212, ../sass/_theme.scss */
#edit-cancel {
  margin-left: 15px;
}

/************** FORM INPUT BUTTON STYLE ***********************/
/* line 218, ../sass/_theme.scss */
input.form-text, .form-textarea-wrapper textarea, select {
  border: solid 1px #dddddd;
  color: #5b6172;
  height: 40px;
  padding: 7px 10px;
  max-width: 100%;
}

/* line 226, ../sass/_theme.scss */
.form-textarea-wrapper textarea {
  height: auto;
}

/* line 230, ../sass/_theme.scss */
input.form-submit {
  background-color: transparent;
  border: solid 1px #5fc0c3;
  color: #5fc0c3;
  display: inline-block;
  font-size: 13px;
  outline: none;
  padding: 8px 15px;
  text-transform: uppercase;
  max-width: 100%;
}
/* line 241, ../sass/_theme.scss */
input.form-submit:hover, input.form-submit:focus {
  background-color: #5fc0c3;
  color: #ffffff;
}

/* line 247, ../sass/_theme.scss */
label {
  margin-bottom: 10px;
}

/* line 251, ../sass/_theme.scss */
.description {
  padding: 5px 0 0 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* line 12, ../sass/style.scss */
  .indented {
    margin-left: 0;
  }
  /* line 15, ../sass/style.scss */
  .indented .indented {
    margin-left: 0;
  }
  /* line 19, ../sass/style.scss */
  .indented:before {
    display: none;
  }

  /* line 24, ../sass/style.scss */
  .view-blog .owl-item {
    padding: 0 40px;
  }

  /* line 28, ../sass/style.scss */
  .view-blog .owl-controls .owl-buttons .owl-prev {
    left: 0;
  }

  /* line 32, ../sass/style.scss */
  .view-blog .owl-controls .owl-buttons .owl-next {
    right: 0;
  }

  /* line 36, ../sass/style.scss */
  .branding {
    width: auto;
  }

  /* line 40, ../sass/style.scss */
  .header__right {
    width: auto;
    float: right;
  }

  /* line 46, ../sass/style.scss */
  .responsive-menus.responsified.responsive-toggled.absolute {
    position: inherit;
  }
  /* line 49, ../sass/style.scss */
  .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    top: 80px;
  }
  /* line 59, ../sass/style.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    background: #5fc0c3;
    border-radius: 0;
    box-shadow: none;
  }
  /* line 65, ../sass/style.scss */
  .responsive-menus.responsified span.toggler {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    box-shadow: none;
    background: none;
    color: #565659;
    font-size: 24px;
  }
  /* line 76, ../sass/style.scss */
  .responsive-menus.responsified.responsive-toggled span.toggler {
    border: none;
  }
  /* line 80, ../sass/style.scss */
  .responsive-menus.responsified.responsive-toggled span.toggler:hover,
  .responsive-menus.responsified.responsive-toggled span.toggler:focus,
  .responsive-menus.responsified.responsive-toggled span.visited {
    color: #5fc0c3;
  }

  /* line 88, ../sass/style.scss */
  #navigation {
    float: right;
    margin-left: 15px;
  }

  /* line 93, ../sass/style.scss */
  fieldset {
    border: solid 1px #dddddd;
    padding: 15px 20px;
  }

  /* line 98, ../sass/style.scss */
  .m-text-left {
    text-align: left;
  }

  /* line 102, ../sass/style.scss */
  .m-text-center {
    text-align: center;
  }

  /* line 106, ../sass/style.scss */
  .m-text-right {
    text-align: right;
  }
}
@media only screen and (max-width: 380px) {
  /* line 111, ../sass/style.scss */
  .branding {
    padding-right: 0;
  }
  /* line 114, ../sass/style.scss */
  .branding a img {
    max-width: 100%;
  }

  /* line 119, ../sass/style.scss */
  #navigation {
    margin-left: 10px;
  }

  /* line 123, ../sass/style.scss */
  .region-header {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 350px) {
  /* line 128, ../sass/style.scss */
  .branding a {
    max-width: 125px;
  }

  /* line 132, ../sass/style.scss */
  .banner__title {
    font-size: 35px;
  }
}
