.banner {
    background-size: cover;
    padding: 100px 0 120px;
    text-align: center;
    position: relative;
    color: #fff;

    &--home {
        background-image: url(../../images/banner.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    > * {
        z-index: 2;
        position: relative;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        top: 0;
        left: 0;
        z-index: 1;
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        line-height: 22px;

        &.text-lg {
            line-height: 35px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 55px;
        margin: 20px 0;
    }
}

.feature-box {
    background: #fff;
    border-radius: 4px;
    float: left;
    width: 100%;
    padding: 0px 20px 30px;
    margin-top: 60px;

    &__icon {
        border: #fff 10px solid;
        width: 90px;
        height: 90px;
        margin: -45px auto 0;
        background-color: #57c1d5;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-clip: content-box;

        &.bulb {
            background-image: url('../../images/icon-bulb.png');
        }

        &.users {
            background-image: url('../../images/icon-users.png');
        }

        &.thumb {
            background-image: url('../../images/icon-thumb-o-up.png');
        }
    }

    &__title {
        color: #5dc0c9;
        font-size: 17px;
        margin: 5px 0 15px;
    }
}

.members-home {
	padding-bottom: 25px;

    .block-title{
        border-top: #dedfe3 1px solid;
        padding-top: 45px;
        margin-bottom: 20px;
    }

    .owl-item > div {
        text-align: center;
        display: table;
        width: 100%;
    }

    &__image {
        height: 110px;
        display: table-cell;
        vertical-align: middle;
    }
}

.blog-home {
    .owl-item {
	   padding: 0 15.5px;
    }

    &__body {
        border-top: #f2f3f6 1px solid;
        border-bottom: #f2f3f6 1px solid;
        margin: 10px 0 15px;
        padding: 5px 0 10px;
    }

    &__title {
        font-weight: bold;

        a {
            color: #61c0bd;
        }
    }    

    .owl-controls .owl-buttons {

        .owl-prev,
        .owl-next {
            margin: 0;
            width: 17px;
            height: 28px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .owl-prev {
            background: url(../../images/lr-arrows.png) no-repeat top left;
            left: -20px;
        }

        .owl-next {
            background: url(../../images/lr-arrows.png) no-repeat bottom left;
            right: -20px;
        }
    }

    .owl-controls.clickable .owl-buttons .disabled,
    .owl-controls.clickable .owl-buttons .disabled:hover {
        opacity: 0.2;
        cursor: default;
    }
}

/************** COMMENT FORM ****************/

.comment-wrapper h2.title {
    color: #5fc0c3;
}

.comment-form {
    border: solid 2px #eeeeee;
    padding: 30px;

    input.form-submit {
        margin-right: 10px;
    }
}

.filter-wrapper {
    border: solid 3px #eeeeee;
}

.comment {
    position: relative;

    h3 {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .new { 
        color: #5fc0c3;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.comment, .indented {
    border: solid 1px #eeeeee;
    padding: 15px 15px 15px 15px;
}

.submitted {
    border-bottom: solid 1px #eeeeee;
    border-top: solid 1px #eeeeee;
    font-size: 12px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.indented {
    margin-left: 50px;
    margin-top: 15px;
    position: relative;

    .indented {
        margin-left: 25px;
    }

    .comment {
        border: none;
        padding: 0;
    }

    &:before {
        content: '';
        background: url(../../images/forward.png) no-repeat 0 0 transparent;
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        left: -33px;
        top: 20px;
    }
}