.mt0 {
	margin-top: 0px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}

.mb0 {
	margin-bottom: 0px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.pv5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.pv10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pv15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pv20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pv25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.pv30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pv35 {
	padding-top: 35px;
	padding-bottom: 35px;
}

.pv40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pv45 {
	padding-top: 45px;
	padding-bottom: 45px;
}

.pv50 {
	padding-top: 50px;
	padding-bottom: 50px;
}